.review {
    margin:0.5em;
    border:medium solid yellow;
    border-radius: 3%;
    /* max-height:50vh; */
}

.title {
    font-size: medium;
    font-weight: 500;
}

.detailsWrapper {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'image details';
    justify-items: center;
    align-items: center;
}

.image {
    margin:0.25em;
    grid-area: image;
    min-width: 100px;
    max-width: 25%;
}

.owner {
    padding:0.5em;
}

.date {
    padding:0.5em;
}

.reviewDetails {
    grid-area: details;
    margin:0.25em;
    /* display:grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    grid-template-areas: 'image owner' 'image date'; */
}

.gameDetails {
    display: flex;
    justify-content: space-evenly;
}

.gameDetails span {
    display: block;
}

.body {
    margin:0.5em 1em;
    text-align: left;
}

.engagement {
    display: flex;
    justify-content:space-around;
}

.engagement p {
    display:inline
}