.review {
    margin:0.5em auto;
    border:medium solid yellow;
    border-radius: 10px;
    max-width: 400px;
}

.title {
    font-size: medium;
    font-weight: 500;
}

.detailsWrapper {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'image details';
    justify-items: center;
    align-items: center;
}

.image {
    margin:0.25em;
    grid-area: image;
    min-width: 100px;
    max-width: 25%;
}

.owner {
    padding:0.5em 0;
}

.date {
    padding:0.5em 0;
}

.reviewDetails {
    grid-area: details;
    margin:0.25em;
}

.gameDetails {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.gameDetails span {
    display: block;
}

.body {
    margin:0.5em 1em;
    text-align: left;
}

.engagement {
    display: flex;
    justify-content:space-around;
}

.engagement p {
    display:inline
}

@media only screen and (min-width:600px) {
    .review {
        margin:0.5em;
        flex:1 1 300px;
    }
}