.review {
    margin:0.5em;
    border:medium solid yellow;
    border-radius: 10px;
}

.reviewHeader {
    display:flex;
    padding:0.25em 0.25em 0 0.25em;
    text-align:left;
}

.title {
    font-size: medium;
    font-weight: 500;
}

.ownerDetails {
    display:flex;
    justify-content: flex-start;
    padding:0.5em;
}

.avatarContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    align-self:center;
    height:2.5em;
    width:2.5em;
    border: thin solid magenta; 
    border-radius: 50%;
    vertical-align: middle;
}

.avatar {
    box-sizing:border-box;
    max-height: 2.5em;
    max-width:2.5em;
    border-radius: 50%;
    padding:0.25em;
}

.owner {
    padding-left:1em;
    text-align:left;
}

.username {
    padding-bottom:0.25em;
}

.ownerName {
    font-size:small;
}

.date {
    margin-left:auto;
    padding:0;
}

.image {
    margin:0.25em;
    width: 60vw;
}

.body {
    margin:0.5em 1em;
    text-align: left;
}

@media only screen and (min-width:600px) {
    .review {
        width: 80%;
        margin: 0 auto;
        overflow:hidden;
    }
    
    .title {
        font-size: larger;
        margin: 0 auto;
        text-align: center;
    }
    
    .image {
        float:left;
        text-align: left;
        margin:0.25em;
        margin-right:0.75em;
        width: 30%;
        min-width: 200px;
        max-height: 100%;
    }
    
    .gameDetails{
        display:flex;
        justify-content: space-evenly;
    }
    
    .gameDetails p {
        padding:0.25em
    }
    
    .body {
        display:block;
        text-align: left;
    }
}
